<app-nav></app-nav>

<!-- <div *ngIf="chart">
    <canvas id="canvas"></canvas>
</div> -->

<div style="display: block; width:40%;margin: auto;">
  <h1 style="text-align: center;">Statistique sur les réparations</h1>
  <h3 style="text-align: center;"><em>Temps de réparation en moyenne globale: </em>{{valMoy}} jours</h3>
  <br/>
  <br/>
    <canvas id="lineChart"></canvas>
    
  </div>

  <div style="display: block; width:45%"> 
    <!-- <input onchange="getStatFilter()" type="date" id="dateStart">
    <input onchange="getStatFilter()" type="date" id="dateEnd"> -->
    <canvas id="lineChart2"></canvas>
  </div>