<div class="signin-content page">
    <mat-card style="height: 500px;" >
      <mat-card-content>
        <form #loginForm="ngForm">
            <div class="header">
                <div class="col-lg-3"></div>
                <div class="col-lg-5">
                    <img src="../../assets/user.png" width="100px" alt="">
                </div>
                <div class="col-lg-4"></div>
            </div>
          <br><br><br><br>
          <mat-form-field class="full-width-input">
            <input matInput type="email" placeholder="User"  required name="email" ngModel>
          </mat-form-field>
          <br><br><br>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password"  required name="mdp" ngModel>
          </mat-form-field>
          <br><br>
          <button mat-raised-button color="primary" type="submit" (click)="login(loginForm.value)">Login</button>
        </form>
      </mat-card-content>
      <br><br>
      <a [routerLink]="['/inscription']">Create an account ?</a>
    </mat-card>
</div>
