<app-nav></app-nav>
<div class="container">
    <h2>Vos voitures dans nos garages</h2>
    <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Numero</th>
          <th>Date de dépôt</th>
          <th>Etat de récéption</th> 
          <!-- mety tokony asiana etat de récuperation ihany eto -->
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let depotVoiture of listeDepotVoitures">
          <td>IMAGE</td>
          <td>{{depotVoiture.numVoiture}}</td>
          <td>{{depotVoiture.dateDepotVoitAvecFormat}}</td>
          <td>{{depotVoiture.nomEtatReception}}</td>
          <!-- disabled ireo raha tsy feno ny condition -->
          <ng-template [ngIf]="depotVoiture.etatReception === 0 || depotVoiture.nbreReparationAFaire===0">
            <td><a class="btn btn-success" disabled>Voir les réparations</a></td>
          </ng-template>
          <ng-template [ngIf]="depotVoiture.etatReception === 1 && depotVoiture.nbreReparationAFaire>0">
            <td><a class="btn btn-success" [routerLink]="['/listeReparation/',depotVoiture._id]">Voir les réparations</a></td>
          </ng-template>
          <ng-template [ngIf]="depotVoiture.bonDeSortie === 1 && depotVoiture.montantTTlPaiement === depotVoiture.montantTotalPaye">
            <td><button class="btn btn-warning" (click)="recupererVoit(depotVoiture._id,'etatRecuperation',1)">Récupérer</button></td>
          </ng-template>
          <ng-template [ngIf]="depotVoiture.bonDeSortie != 1 || depotVoiture.montantTTlPaiement != depotVoiture.montantTotalPaye">
            <td><button class="btn btn-warning" disabled>Récupérer</button></td>
          </ng-template>
          <!-- <ng-template [ngIf]="depotVoiture.bonDeSortie != 1 || depotVoiture.montantTTlPaiement != depotVoiture.montantTotalPaye">
            <td><button class="btn btn-warning" disabled>Récupérer</button></td>
          </ng-template>
           -->
        </tr>
      </tbody>
    </table>
  </div>

  