<div id="container">
    <div id="facture">
        <!--Notion de spacing pt-3 pb-3-->
        <div class="container pt-3 pb-3">
            <!-- <div class="row">
            </div> -->
            <div class="row">
                <div class="col-md-8">
                    <h6 class="text-dark">CLIENT: {{offTestUser[0].nom}} {{offTestUser[0].prenom}} </h6>
                    <h6 class="text-dark">NUMERO VOITURE: {{numVoiture}}</h6>
                    
                </div>

                <div class="col-md-4">
                    <!-- @*tokony misy logo eto*@
                    <img src="~/Content/image/logo.png" style="width: 150px; float: right; margin-top: -20px;" alt=""> NOM GARAGE
                    @*<h6 class="text-dark">Adresse:<span class="font-weight-normal"> TOC</span></h6>*@
                    @*<h6 class="text-dark">Ville:<span class="font-weight-normal">Antananarivo </span></h6>*@ -->


                </div>
            </div>

        </div>



        <div class="container pt-3 pb-3">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="text-align:center"> FACTURE POUR LE DEPOT DU "{{dateDepotVoit | slice :0:10}}"</h3>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Libellé</th>
                                <th>Coût (Ar)</th>
                                <th>Etat de paiement</th>
                                <!-- <th>Quantité</th>
                                <th>Prix quantitatif (Ar)</th> -->
                            </tr>
                        </thead>
                    <tbody>
                        <!-- <tr>
                            <th>Superstructure</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr> -->
                    
                        <tr *ngFor="let reparation of listeReparation">
                            <td>{{reparation.descReparation}}</td>
                            <td>{{reparation.montantRep}}</td>
                            <td>{{reparation.nomEtatPaiement}}</td>
                            
                        </tr>
                    
                        <!-- <tr>
                            <td>Menuiserie exteriure: @devis.menuiserieExt.typeMenuiserieExt</td>
                            <td>@string.Format("{0:N}", devis.menuiserieExt.prixMenuiserieExt)</td>
                            <td>@devis.menuiserieExt.typePaiement</td>
                            <td></td>
                            <td>@string.Format("{0:N}", devis.menuiserieExt.prixMenuiserieExt)</td>
                        </tr>
                        <tr>
                            <td>Menuiserie exteriure: @devis.menuiserieInt.typeMenuiserieInt</td>
                            <td>@string.Format("{0:N}", devis.menuiserieInt.prixMenuiserieInt)</td>
                            <td>@devis.menuiserieInt.typePaiement</td>
                            <td></td>
                            <td>@string.Format("{0:N}", devis.menuiserieInt.prixMenuiserieInt)</td>
                        </tr>
                        <tr>
                            <td>Finition sol: @devis.finitionSol.typeFinitionSol</td>
                            <td>@string.Format("{0:N}", devis.finitionSol.prixFinitionSol)</td>
                            <td>@devis.finitionSol.typePaiement</td>
                            <td>@devis.sommeSuperficieMaison</td>
                            <td>@string.Format("{0:N}", devis.prixQtefinitionSol)</td>
                        </tr>
                        <tr>
                            <td class="bg-dark text-white">Total Superstructure</td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white">@string.Format("{0:N}", devis.sommePrixSuperstructure)</td>
                        </tr>
                        <tr>
                            <th>Infrastructure</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Type de terrain: @devis.terrain.typeTerrain<br />Fondation correspondante:@devis.terrain.typeFondation</td>
                            <td>@string.Format("{0:N}", devis.terrain.prixFondation)</td>
                            <td>@devis.terrain.typePaiement</td>
                            <td>@devis.sommeSuperficieMaison</td>
                            <td>@string.Format("{0:N}", devis.prixQteFondation)</td>
                        </tr>
                        <tr>
                            <td class="bg-dark text-white">Total infrastructure</td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white">@string.Format("{0:N}", devis.prixQteFondation)</td>
                        </tr>
                        @*eto tokony misy hoe raha tsy null ty vo mi existe ty na otrotrzany*@
                        <tr>
                            <th>Option</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Piscine</td>
                            <td>@string.Format("{0:N}", devis.piscine.prixPiscine)</td>
                            <td>@devis.piscine.typePaiement</td>
                            <td>@devis.longPiscine X @devis.largPiscine X @devis.hautPiscine</td>
                            <td>@string.Format("{0:N}", devis.prixQtePiscine)</td>
                        </tr>
                        <tr>
                            <td>Cloture</td>
                            <td>@string.Format("{0:N}", devis.cloture.prixCloture)</td>
                            <td>@devis.cloture.typePaiement</td>
                            <td>@devis.longClot</td>
                            <td>@string.Format("{0:N}", devis.prixQteCloture)</td>
                        </tr>
                        <tr>
                            <td>Superstructure Mur de soutenement</td>
                            <td>L: @devis.supStructureMurSout.prixLongueurSSMurSout <br />H: @devis.supStructureMurSout.prixHauteurSSMurSout</td>
                            <td>@devis.supStructureMurSout.typePaiement</td>
                            <td>L:@devis.longMurSout <br />H:@devis.hautMurSout </td>
                            <td>@string.Format("{0:N}", devis.prixQtesupStructureMurSout)</td>
                        </tr>
                        <tr>
                            <td>
                                Infrastructure Mur de soutenement<br />
                                Fondation correspondante: @devis.fondationMurSout.typeFondationMurSout
                            </td>
                            <td>@string.Format("{0:N}", devis.fondationMurSout.prixFMurSout)</td>
                            <td>@devis.fondationMurSout.typePaiement</td>
                            <td>@devis.longMurSout</td>
                            <td>@string.Format("{0:N}", devis.prixQtefondationMurSout)</td>
                        </tr>
                        <tr>
                            <td class="bg-dark text-white">Total option</td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white">@string.Format("{0:N}", devis.sommePrixOption)</td>
                        </tr>
                        <tr>
                        </tr> -->
                        <tr>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td> 
                            <td class="bg-dark text-white"></td> 
                            <!-- <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td> -->
                        </tr>

                        <tr>
                            <td class="bg-dark text-white">Total</td>
                            <td class="bg-dark text-white">{{montantTTlPaiement}}</td>
                            <td class="bg-dark text-white">{{etatAvancementGeneral}}</td>
                            <!-- <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td> -->
                        </tr>
                        <!-- <tr>
                            <td class="bg-dark text-white">TVA(20%)</td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white">@string.Format("{0:N}", devis.tva)</td>
                        </tr>
                        <tr>
                            <td class="bg-dark text-white">Total TTC</td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white"></td>
                            <td class="bg-dark text-white">@string.Format("{0:N}", devis.devisTotalTTC)</td>
                        </tr> -->


                        </tbody>
                    </table>
                    <!-- <b>Etat de paiement générale:</b>{{etatAvancementGeneral}}<br /> -->
                     <!--<b>ml:</b> mètre linéaire<br />
                    <b>m2:</b> mètre carré<br />
                    <b>m3:</b> lètre cube -->
                </div>

            </div>

            <button class="btn btn-primary" [routerLink]="['/listeReparation/',idDepotVoit]">Retour</button>
        </div>
        

    </div>
</div>