<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">GARAGE</a>
      </div>    
      <!-- mitady moyen mi scwitch active -->
      <ul class="nav navbar-nav"> 
        <li class="active"><a [routerLink]="['']">Deposer voiture</a></li>
        <li><a [routerLink]="['/listeVoitEnGarage']">Les voitures en garage</a></li>
        <!-- <li><a href="#">Les voitures enregistrés</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Rehefa empty dia miretourne true -->
        <li *ngIf ="isEmptyObject(testUser);"><a [routerLink]="['/inscription']"><span class="glyphicon glyphicon-user"></span>Inscription</a></li>
        <li *ngIf ="isEmptyObject(testUser);"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span>Connexion</a></li>
        <li *ngIf ="!isEmptyObject(testUser);"><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span>Deconnexion</a></li>
      </ul>
    </div>
  </nav>



 
