<sb-layout-dashboard>
    <sb-dashboard-head title="Depot de voiture" ></sb-dashboard-head>
    <!-- <sb-card>
        <div class="card-body">Chart.js is a third party plugin that is used to generate the charts in this template. The charts below have been customized - for further customization options, please visit the official <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>.</div>
    </sb-card> -->
    <!-- <sb-card>
        <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Area Chart Example</div>
        <div class="card-body"><sb-charts-area></sb-charts-area></div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </sb-card> -->
    <!-- <div class="row">
        <div class="col-lg-6">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Bar Chart Example</div>
                <div class="card-body"><sb-charts-bar></sb-charts-bar></div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </sb-card>
        </div>
        <div class="col-lg-6">
            <sb-card
                ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-pie"]'></fa-icon>Pie Chart Example</div>
                <div class="card-body"><sb-charts-pie></sb-charts-pie></div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div></sb-card
            >
        </div>
    </div> -->
    <form>
        <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Image voiture</label><input class="form-control py-4" id="inputEmailAddress" type="text" placeholder="Drag and drop image here" /></div>
        <div class="form-group"><label class="small mb-1" for="inputPassword">Numero voiture</label><input class="form-control py-4" id="inputPassword" type="text" placeholder="Entrer numero vehicule" /></div>
        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" routerLink="/auth/forgot-password">Retour</a><a class="btn btn-primary" >Deposer</a></div>
    </form>
</sb-layout-dashboard>
