<app-nav></app-nav>

<div class="container">
    <h2>Mise à jour de d'état d' avancement de la réparation</h2>
    <form #ModifRepForm="ngForm">
      
        <div class="form-group">
            <label for="sel1"></label>
            <input type="hidden" class="form-control" name="idReparation" [(ngModel)]="reparation._id" disabled>
          </div>
        <div class="form-group">
        <label for="sel1">Type de réparation:</label>
        <input type="text" class="form-control" name="typeRep" [value]="reparation.nomTypeReparation" disabled>
        <!-- <select class="form-control" id="typeRep" name="typeRep" [(ngModel)]="typeDeReparation"> 
            <option value="1">Réparation mineure</option>
            <option value="2">Réparation moyenne</option>
            <option value="3">Réparation majeure</option>
        </select> -->
      </div>
      <div class="form-group">
        <label for="sel1">Description réparation:</label>
        <input type="text" class="form-control" name="descRep" [(ngModel)]="reparation.descReparation" disabled>
      </div>
      <div class="form-group">
        <label for="sel1">Montant réparation:</label>
        <input type="text" class="form-control" name="montantRep" [(ngModel)]="reparation.montantRep" disabled>
      </div> 
      <div class="form-group">
           
        <label for="sel1">Etat d'avancement de réparation:</label>
        <select class="form-control" id="typeRep" name="valEtatAv" [(ngModel)]="reparation.valEtatAv"> 
            <option value="0">En attente</option>
            <option value="1">En cours</option>
            <option value="2">Terminé</option>  
        </select>
      </div>
      
      <button type="submit" class="btn btn-success"(click)="modifRep(ModifRepForm.value)">Enregistrer les modifications</button>
      <a class="btn btn-warning"  [routerLink]="['/listeReparation/',reparation.idDepotVoiture]">Voir les réparations</a>
    </form>

    
    <!-- <a class="btn btn-primary"  [routerLink]="['/ajoutReparation/',{{depotVoiture._id}}]">Retour</a> -->
</div>
<footer>
  
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  
  <p style="text-align: center;">@Copyright RATSIMANDAVANA Rindratiana ETU 1322 - RAZAFINDRAMANANA Ony Tiana ETU 1333
</footer>
