<div class="page">
    <mat-card style="height: 600px;">
        <mat-card-content>
          <form #inscriptionForm="ngForm">
              <div class="header">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-5">
                      <img src="../../assets/user.png" width="100px" alt="">
                  </div>
                  <div class="col-lg-4"></div>
              </div>
            <br><br><br><br>
            <mat-form-field class="full-width-input">
              <input matInput type="text" placeholder="Nom" formControlName="Nom" required name="nom" ngModel>
            </mat-form-field>
            <br><br>
            <mat-form-field class="full-width-input">
              <input matInput type="text" placeholder="Prenom" formControlName="Prenom" required name="prenom" ngModel>
            </mat-form-field>
            <br><br>
            <mat-form-field class="full-width-input">
                <input matInput type="email" placeholder="Email" formControlName="Email" required name="email" ngModel>
            </mat-form-field>
            <br><br>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Password" formControlName="password" required name="mdp" ngModel>
            </mat-form-field>
            <br><br>
            <button mat-raised-button color="primary" type="submit" (click)="inscription(inscriptionForm.value)">Sign Up</button>
          </form>
        </mat-card-content>
        <br><br>
        <a [routerLink]="['/login']">Sign In?</a>
      </mat-card>
</div>
<!-- <div class="contenu"> 
<div class="main-content page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-2">
                            <img src="../../assets/insc.png" width="150px" alt="">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <br><br>
                    <div class="content">
                        <form #inscriptionForm="ngForm" style="margin-left: 200px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="nom" placeholder="Nom"  class="form-control" ngModel>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="prenom" placeholder="prenom" class="form-control" ngModel>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" name="email"  placeholder="example@user.com" class="form-control" ngModel>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="password" name="mdp" placeholder="Password"  class="form-control" ngModel>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <button type="submit" class="btn btn-info btn-fill pull-right" (click)="inscription(inscriptionForm.value)" >S' inscrire</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->


