<sb-layout-dashboard>
    <h4>AJOUT REPARATION</h4>
    <br><br>
    <div style="margin-left:
     200px; margin-right: 200px; border-radius:20px ;">
        <form>
            <div class="mb-3">
                <label>Description reparation</label>
                <div class="input-group">
                    <input  class="form-control" placeholder="description" type="text"/>
                </div>
            </div>
            <div class="mb-3">
                <label>Montant reparation</label>
                <div class="input-group">
                    <input class="form-control" placeholder="montant" type="number"/>
                </div>
            </div>
            <div class="mb-3">
                <label>Etat paiement</label>
                <div class="input-group">
                    <select class="form-control">
                        <option>En attente</option>
                        <option>En cours</option>
                        <option>Termine</option>
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-danger" style="float: right;">Valider</button>
        </form>
    </div>
</sb-layout-dashboard>

