<app-nav></app-nav>
<div class="container">
    <h2>Liste de réparation(s) à faire</h2>
    <b><em>Numéro voiture:</em></b>{{numVoiture}} <br/>
    <b><em>Dépôt du:</em></b>{{dateDepotVoit | slice :0:10}}
    <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
    <table class="table table-bordered">
      <thead>
        <tr>
            <!-- tokony asiana etat de bon de sortie ihany na hoe etat de finition hoe complètement fini ve -->
          <th>Description</th>
          <th>Type de réparation</th>
          <th>Coût de réparation (Ar)</th>
          <th>Etat d'avancement</th>
          <th>Date de mise à jour de l'etat d'avancement</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reparation of listeReparation">
          <td>{{reparation.descReparation}}</td>
          <td>{{reparation.nomTypeReparation}}</td>
          <td>{{reparation.montantRep}}</td>
          <td>{{reparation.nomEtatAv}}</td>
          <td>{{reparation.dateEtatAv | slice :0:10  }}</td>
          <ng-template [ngIf]="reparation.valEtatAv === 2">
            <td><button class="btn btn-success" disabled>Mise à jour avancement</button></td>
          </ng-template>
          <ng-template [ngIf]="reparation.valEtatAv < 2">
            <td><button class="btn btn-success" [routerLink]="['/modifReparation/',reparation._id]">Mise à jour avancement</button></td>
          </ng-template>
        </tr>
      </tbody>
    </table>
    <b><em>Etat réparation globale:</em></b>{{etatAvancementGeneral}}<br/>
    <b><em>Coût totale réparation:</em></b>{{montantTTlPaiement}} Ar<br/>
   
    <!-- tokony refa === fa tsy != le izy -->
    <div class="row">
      <button  *ngIf="nbreReparationAFaire>0 && nbreReparationAFaire === nbreReparationFini && bonDeSortie===0" (click)="validerBonSortie(idDepotVoit,'bonDeSortie',1)" class="btn btn-warning"> Valider bon de sortie </button> <br/>
    </div>
    <div class="row">
      <button class="btn btn-primary" [routerLink]="['/listeVoitEnGarage']">Retour</button>
    </div>
    
  
    <!-- <button class="btn btn-warning" (click)="validerBonSortie(depotVoiture._id)">Valider bon de sortie</button> -->
    

</div>
<footer>
  
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  
  <p style="text-align: center;">@Copyright RATSIMANDAVANA Rindratiana ETU 1322 - RAZAFINDRAMANANA Ony Tiana ETU 1333
</footer>